services:
  - type: web
    name: cheat-buster-backend
    env: node
    plan: free
    region: oregon
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        generateValue: true
      - key: MONGO_URI
        sync: false
      - key: FRONTEND_URL
        sync: false


